* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4f46e5, #9333ea);
  
}

.auth-box {
  background: #ffffff;
  width: 360px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.auth-box input:focus {
  outline: none;
  border-color: #4f46e5;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.auth-box button:hover {
  background: #4338ca;
}

.message {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}

.success {
  color: green;
}

.error {
  color: red;
}


.switch-link {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.switch-link span {
  color: #4f46e5;
  cursor: pointer;
  font-weight: bold;
}

.switch-link span:hover {
  text-decoration: underline;
}

.bg-container {
  height: 100vh;
  background-image: url("./assets/login.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}